/venv/
/.idea/
/data_loader/GDrive_update.py
/data_loader/AZ_PFO_2012083108441344.npz
/data/chunk1/
/data/chunk2/
/SeismicSignalDenoising
/pyvenv.cfg
/npy_files/
/utils/cwt_test.py
/utils/ssq_test.py
/utils/miniSEED_test.py
/utils/stockwell_test.py
/loss.npy
/denoising_net.pth